<!DOCTYPE html>
<html lang="en" dir="ltr">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
  <head>
    <meta charset="utf-8">
    <title>Tympe</title>
    <link rel="stylesheet" href="/styles/Game.css">
  </head>
  <body>
    <div class = "container" id = "title">Tympe</div>
    <div class = "container" id = "word">If you can read this, it doesn't work.</div>
    <div class = "container" id = "time">Time: Infinity</div>
    <div class = "container" id = "points">Points: 0</div>
    <input type = "text" class = "container" id = "box" value = ""></input>
  </body>
  <script type="text/javascript" src = "../js/game.js"></script>
</html>
