<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tympe</title>
    <link rel="stylesheet" href="/styles/Game.css">
  </head>
  <body>
    <div class = "container" id = "title">Tympe</div>
    <div class = "container" id = "word">word</div>
    <div class = "container" id = "time">time: 60</div>
    <div class = "container" id = "points">points: 0</div>
    <input type = "text" class = "container" id = "box" value = ""></input>
  </body>
  <script type="text/javascript" src = "../js/game.js"></script>
</html>
