<!DOCTYPE html>
<html lang="en" dir="ltr">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
  <head>
    <meta charset="utf-8">
    <title>Tympe</title>
    <link rel="stylesheet" href="/styles/Welcome.css">
  </head>
  <body>
      <div class="container">
        <div id="title">Tympe</div>
        <div id="description">Tympe is a fast paced typing game that will sharpen your keyboard skills through timed input, are you ready for the challenge?</div>
        <form method = "post">
          <input type="submit" value="Start" class="btn" id="button">
        </form>
      </div>
  </body>
</html>
